.movieContainer {
    margin: 50px 9vh 0 9vh;
    cursor: pointer;
}

.movieThumbnail {
    border-radius: 20px;
    width: 30vh;
    padding-bottom: 10px;
}

.movieName {
    margin-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}