@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap');

#paginaTendencies {
    background-image: linear-gradient(to bottom right, #202020, #404040);
}

img {
    border-radius: 20px;
    width: 400px;
}

header {
    font-size: 40px;
    background-color: #c89546;
    display: flex;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 6%;
    font-size: 55px;
    color: white;
}

h2 {
    font-size: 30px;
}


#conteudoTendencies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tendenciasID {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid red;
    padding: 20px;
}

#tituloFilme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 1%;
}

#textoTendencias {
    width: 500px;
    font-weight: bold;
}